.login {
  padding-right: 0px;
  padding-left: 0px;
  margin-top: 0px;
}

.titulo {
  text-align: center;
}

.desarrollado {
  position: fixed;
  bottom: 0;
  padding: 10px 20px;
  background-color: #D8D8D8;
  color: #000000;
}

.pencil {
  margin-right: 5px;
}

.menu-item {
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
  -ms-transition: all 0.1s;
  -o-transition: all 0.1s;
  border-left: 0px solid #848484;
}

.menu-item:hover {
  border-left: 4px solid #848484;
}

.menu-item.active {
  border-left: 4px solid #848484;
}

.menu-item:hover a {
  padding-left: 15px;
}

.menu-item .nav-second-level li a {
  padding-left: 30px;
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
  -ms-transition: all 0.1s;
  -o-transition: all 0.1s;
}

.menu-item .nav-second-level li:hover a {
  padding-left: 34px;
}

.activo {
  transition: all 0s;
  -webkit-transition: all 0s;
  -ms-transition: all 0s;
  -o-transition: all 0s;
  border-left: 4px solid #848484;
}

.conf table thead tr {
  background-color: #424242;
  color: #fff;
  font-size: 12px;
}

.fecha {
  padding: 14px 20px;
  font-weight: bold;
}

.fa-cog:hover,
.fa-cog:focus {
  text-decoration: none;
}

.botoniniciar {
  border: 1px solid #008000;
  padding: 10px 15px;
  background-color: #008000;
  border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -webkit-border-radius: 50%;
  box-shadow: 2px 2px 5px #424242;
  -o-box-shadow: 2px 2px 5px #424242;
  -ms-box-shadow: 2px 2px 5px #424242;
  -webkit-box-shadow: 2px 2px 5px #424242;
  color: #fff;
}

.botoniniciar:hover,
.botoniniciar:focus {
  color: #fff;
  background-color: #21610B;
  border: 1px solid #21610B;
}

.botonpalletsbins {
  border: 1px solid #424242;
  padding: 8px 13px;
  background-color: #424242;
  border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -webkit-border-radius: 50%;
  box-shadow: 2px 2px 5px #2E2E2E;
  -o-box-shadow: 2px 2px 5px #2E2E2E;
  -ms-box-shadow: 2px 2px 5px #2E2E2E;
  -webkit-box-shadow: 2px 2px 5px #2E2E2E;
  color: #fff;
}

.botonpalletsbins:hover,
.botonpalletsbins:focus {
  color: #fff;
  background-color: #2E2E2E;
  border: 1px solid #2E2E2E;
}

.contenedor {
  margin-top: 5px;
  margin-bottom: 25px;
}

.dropdown-menu {
  padding-top: 0px;
  padding-bottom: 0px;
}

.dropdown-menu li a:hover {
  color: #fff;
  background-color: #337AB7;
}

.camaras-titulo {
  background-color: #424242;
  color: #fff;
}

.resumen-tabla thead tr{
  display: none;
}

.resumen-tabla thead tr:first-child {
  display: table-row;
}

.resumen-tabla td,
.resumen-tabla th {
  font-size: 12px;
  padding: 5px 12px !important;
}

/* Dibujo de Camara */
#tabla_camara {
  width: initial !important;
  margin: 0 auto;
}

.dibujo_camara #camara {
  border: 5px solid #000000;
  background-color: #848484;
}

.dibujo_camara #camara .calles {
  border: 3px solid #000000;
  background-color: #fff;
}

.dibujo_camara #camara .posiciones {
  border: 1px solid #000000;
  background-color: #0B3861;
}

#camara  {
  /*width: 100%;*/
  padding: 10px 20px;
}

#camara td {
  width: 50px;
}

#camara .n_calle {
  display: block;
  text-align: center;
  color: #fff;
}

#camara .calles table {
  width: 100%
}

#camara .calles table td {
  text-align: center;
}

#camara .calles {
  padding: 10px 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}

#camara .posiciones {
  height: 40px;
  width: 40px;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}

#camara .nivel2 .posiciones {
  background-color: #0B3B0B;
}

#camara .altura {
  display: inline-block;
  color: #fff;
}

#camara .lote {
  font-size: 8px;
  color: #fff;
  display: table;
  margin: 0 auto;
  margin-top: 14px;
  text-align: center;
}

#camara .lote span {
  font-size: 10px;
  font-weight: bold;
}

#camara .ocupada {
  opacity: 0.7;
}

.leyenda {
  text-align: right;
}

.leyenda span {
  margin-right: 5px;
  display: inline-block;
  margin-top: -6px;
}

.leyenda .nivel1 {
  background-color: #0B3861;
  width: 15px;
  height: 15px;
  display: inline-block;
}

.leyenda .nivel2 {
  background-color: #0B3B0B;
  width: 15px;
  height: 15px;
  display: inline-block;
}

.editar {
  text-align: center;
}

.page-header {
  border-bottom: 1px solid #D8D8D8;
}

.dataTables_info,
.dt-buttons {
  position: absolute;
}

.dt-button {
  margin-right: 5px;
  box-shadow:2px 2px 5px #848484;
}
