$blanco: #ffffff;
$negro: #000000;
$camaranivel1: #0B3861;
$camaranivel2: #0B3B0B;
$grismenu: #848484;
$sidebarhover : #444;
$menuhover: #e1e3e9;
$cabezeratabla: #424242;
$pageheader: #D8D8D8;
$menulinkcolor: #337AB7;
$amarillo: #8A6D3B;
$rojo: #A94442;